<div class="container container-background" id="servicos">
    <div class="services">
        <div class="services__texts">
            <h2 class="services__texts-title">Serviços</h2>
            <p class="services__texts-paragraph">Na Barbearia Premium, cada serviço é pensado para proporcionar uma experiência excepcional, combinando técnicas tradicionais com o que há de mais moderno em cuidados pessoais. Com um ambiente elegante e uma equipe de profissionais dedicados, a barbearia oferece uma variedade de serviços que atendem às necessidades e desejos dos clientes. Confira o que oferecemos:</p>
        </div>
        <div class="services__itens">
            @for (servico of servicos; track servico) {
                <app-service-item [photo]="servico.photo" [price]="servico.price" [title]="servico.title" ></app-service-item>
            }
        </div>
    </div>
</div>