<div class="container" id="sobre">
    <div class="about">
        <div class="about__photos">
            <img class="about__photos-image" src="assets/images/about-photos.png" alt="">
        </div>
        <div class="about__text">
            <h2 class="section-title">Sobre</h2>
            <p class="about__text-paragraph">
                Em 2022, Bruno, um entusiasta do estilo e dos cortes de cabelo de qualidade, inaugurou a
                <strong>Barbearia
                    Premium</strong> na Avenida Adhemar de Barros, nº 760, em Iguape. Desde sua abertura, a barbearia se
                destacou
                como um refúgio de sofisticação e excelência para os amantes de um bom corte e cuidados pessoais.
            </p>
            <p class="about__text-paragraph">
                A <strong>Barbearia
                    Premium</strong> não é apenas um lugar para um corte de cabelo; é um espaço onde amigos se
                encontram, histórias são compartilhadas e cada cliente é tratado como especial. Bruno e sua equipe
                dedicam-se a manter a barbearia como um pilar de excelência em Iguape, oferecendo uma experiência de
                qualidade que vai além das expectativas.
            </p>
            <p class="about__text-hour">Horário de funcionamento: 09:00 ás 19:00</p>
        </div>
    </div>
</div>