<div class="footer">
    <div class="footer__socialIcons">
        <a href="#" class="icon"><img  src="../../../assets/images/faceboock-blue.png" alt="facebook"></a>
        <a href="https://www.instagram.com/premium_barbearia013/" class="icon"><img  src="../../../assets/images/instagram-blue.png" alt="instagram"></a>
        <a href="#" class="icon"><img src="../../../assets/images/twitter-blue.png" alt="twiiter"></a>
    </div>
    <div class="footer__logo-container">
        <a href="#" class="footer__logo" ><img  src="/assets/images/logo.png" alt="Logo blue"></a>
    </div>
</div>