<div class="container navbarBackground">
    <ul class="navbar">
        <a routerLink="/"><img class="navbar__logo navbar__logo-mobile" src="assets/images/logo-white.svg"
                alt="logo da barbearia"></a>
        <li class="navbar__item">
            <a routerLink="/"><img class="navbar__logo" src="assets/images/logo-white.svg" alt="logo da barbearia"></a>
            <div class="nav-items">
                <a href="#" class="nav-item">Sobre</a>
                <a href="#" class="nav-item">Seriviços</a>
                <a href="#" class="nav-item">Contatos</a>
            </div>
        </li>
        <li class="navbar__item">
            <app-button>Agendar Horário</app-button>
        </li>
        <div class="hamburguer" (click)="abrirMenu(menu)">
            <div class="hamburguer__item"></div>
            <div class="hamburguer__item"></div>
            <div class="hamburguer__item"></div>
        </div>
    </ul>
</div>
<div class="menu hidden animate__animated animate__slideInRight" #menu>
    <i class="bi bi-x-lg" (click)="fecharMenu(menu)"></i>
    <img class="menu__img" src="/assets/images/logo-white.svg" alt="logo">
    <ul class="menu__list">
        <li class="menu__list-item">Sobre</li>
        <li class="menu__list-item">Serviços</li>
        <li class="menu__list-item">Contatos</li>
    </ul>
    <button class="menu__button">Agendar Horário</button>
</div>