<div class="container navbarBackground">
    <ul class="navbar">
        <li class="navbar__item">
            <a routerLink="/"><img class="navbar__logo" src="assets/images/logo-white.svg" alt="logo da barbearia"></a>
            <div>
                <a href="#" class="nav-item">Sobre</a>
                <a href="#" class="nav-item">Seriviços</a>
                <a href="#" class="nav-item">Contatos</a>
            </div>
        </li>
        <li class="navbar__item">
            <app-button>Agendar Horário</app-button>
        </li>
    </ul>
</div>