@import "../../../variables.scss";

.button {
    padding: 10px 40px;
    background-color: $yellow;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all ease .2s;

    &:hover {
        background-color: lighten($yellow, 10%);
    }
}