/* You can add global styles to this file, and also import other style files */

/* Importação da fonte Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Importação do arquivo de variaveis de estilos */
@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: $blue;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 0px 30px;
}